{% extends 'content_base.html' %}

{% block title %}Salary{% endblock title %}
{% block link_1 %}active{% endblock link_1 %}

{% block content %}
{% if perms.main.change_salary %}
<div class="block_2">
    <h4>Выплаченные зарплаты</h4>
<table>
<thead><th>Вплт</th><th>id</th><th>User</th><th>Ставка</th><th>ЗП</th><th></th><th>Дата</th></thead>
{% for salary in salarys %}
{% if salary.paid == True %}
<tr>
    <td>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
          </svg>
        </td>
    <td><a  href="edit/{{salary.id}}">{{salary.id}}</a></td>
    <td>{{salary.account.username}}</td>
    <td>{{salary.account.rate}}</td>    
    <td>{{salary.summ}}</td>
    <td></td>
    <td>{{salary.month}}.{{salary.year}}</td>
    <td> <a href="delete/{{salary.id}}">Удалить</a></td>
</tr>
{% endif %}
{% endfor %}
</table>
</div>
{% endif %}
<div class="block">
    {% if perms.main.view_salary %}
    <h5>Всего выдано зарплат на сумму: {{salarySumm}}</h5>
    {% endif %}
    {% if perms.main.view_bonuse %}
    <h6>Всего  выдано премий на сумму: {{bonuseSumm}}</h6>
    {% endif %}
    {% if perms.main.view_sanctions %}
    <h6>Всего  выдано штрафов на сумму: {{sanctionSumm}}</h6>
    {% endif %}
</div>
<div class="block_2">
    <h4>Не выплаченные зарплаты</h4>
      <table>
        <thead><th>Вплт</th><th>id</th><th>User</th><th>Ставка</th><th>ЗП</th><th></th><th>Дата</th></thead>
        {% for salary in salarys %}
        {% if salary.paid == False %}
        <tr>
            <td>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
                  </svg>
                </td>
            <td><a  href="edit/{{salary.id}}">{{salary.id}}</a></td>
            <td>{{salary.account.username}}</td>
            <td>{{salary.account.rate}}</td>    
            <td>{{salary.summ}}</td>
            <td></td>
            <td>{{salary.month}}.{{salary.year}}</td>
            <td> <a href="delete/{{salary.id}}">Удалить</a></td>
        </tr>
        {% endif %}
        {% endfor %}
        </table>
</div>
<div class="block">
    {% if perms.main.view_salary %}
    <h5>Ещё не выдано зарплат {{nopaidSalaryCount}} на сумму: {{nopaidSalarySumm}}</h5>
    {% endif %}
</div>
<div class="block">
   <h6>Рейтинг штрафов</h6>
   <ol>
   {% for sanction in popularSanction %}
   <li>{{sanction.0}}; {% if sanction.1 == 1 %}{{sanction.1}} штраф {% else %}{{sanction.1}} штрафов{% endif %} </li>
   {% endfor %}
   </ol>
</div>
<div class="block">
   <h6>Рейтинг сумм бонусов</h6>
   <ol>
    {% for bonuse in popularBonuse %}
    <li>{{bonuse.0}}; {% if bonuse.1 == 1 %}{{bonuse.1}} премия {% else %}{{bonuse.1}} премий{% endif %} </li>
    {% endfor %}
    </ol>
</div>
<div class="block">
   
</div>
{% endblock content %}