{% extends 'content_base.html' %}

{% block title %}Изменение ставки{% endblock title %}
{% block link_2 %}active{% endblock link_2 %}

{% block content %}
{% if perms.auth.change_user %}
<div class="block_2-60">
    <h4>Изменение размера ставки {{account.username}}</h4>
    <form method="post">
        {% csrf_token %}
        <p>
        <label>Текущая ставка: {{ account.rate }}</label><br>
            <label>Изменение ставки:</label><br>
            <input type="number" name="rate"/>
            <input type="submit" value="Submit">
        </p>
    </form>
</div>
{% endif %}
{% endblock content %}