{% extends 'content_base.html' %}

{% block title %}Add Bonuse{% endblock title %}
{% block link_3 %}active{% endblock link_3 %}

{% block content %}

{% if perms.main.change_sanctions %}
<div class="block_2">
{% for sanction in sanctions %}
<div class="list-group">
    <a href="{{sanction.id}}" class="list-group-item list-group-item-action">Наименование: {{sanction.reason}}; Сумма: {{sanction.summ}};</a>
</div>
{% endfor %}
</div>
<div class="block">
    <h6>Быстрое добавление штрафа</h6>
    <form method="post">
        {% csrf_token %}
            <p>
                <label>Введите причину:</label><br>
                <input type="text" name="reason"/>
            </p>
            <p>
                <label>Введите сумму:</label><br>
                <input type="number" name="summ"/>
            </p>
        <input type="submit" value="Submit">
    </form>
</div>
{% endif %}
{% endblock content %}